@model Gummigrossisten.Models.ViewModel.VMAdmin
@{
    ViewBag.Title = "Start";
}
@using (Html.BeginForm())
{
    <div style="width:100%; height:40px;">
        <div style="float:right">
            <h4>Inloggad som: @TempData["username"]</h4>
        </div>
    </div>

    <div style="float:right">
        <img id="settingslogo" src="~/Content/Pictures/settings.png" /> @Html.ActionLink("Mina inställningar", "Settings", new { id = TempData["userID"] })
        | <img id="settingslogo" src="~/Content/Pictures/exit.png" /> @Html.ActionLink("Logga ut", "Login")
    </div>
    <div style="width:80%; display:block;">

        <div id="nyheter" style="background-color: lightgray; margin-right: 5%; text-align:center; width:55%; height:300px; float:right; margin-left:2%;padding:1%;">
            <h2 style="text-decoration:underline;">@Html.DisplayFor(Model => Model.News.title)</h2>
            <br/>
            <h5 style="text-align:center; color:black; line-height:30px;">@Html.DisplayFor(Model => Model.News.text)</h5>
        </div>

        <br />
        <div style="width:30%;float:left;">
            <h4>Sök bland våra däck</h4>
            <div class="login-form-container">
                <div class="form-group" id="username-container">
                    <label>Sök på dimension eller märke</label>
                    <input style="border:2px solid black" type="text" class="form-control" name="search" maxlength="55" id="search">
                </div>
                <div class="form-group" id="username-container">
                    <label>Välj säsong</label>
                    <select style="border:2px solid black" class="form-control" id="season" name="season">
                        <option>ALLA</option>
                        <option>SOMMAR</option>
                        <option>VINTER</option>

                    </select>
                </div>
            </div>
            <div class="slutfor-button-login">
                <input type="submit" class="btn btn-success btn-lg" id="login" value="Sök">
            </div>
            <br />
        </div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="tableth" scope="col">Märke</th>
                    <th class="tableth" scope="col">Dimension</th>
                    <th class="tableth" scope="col">Typ</th>
                    <th class="tableth" scope="col">Säsong</th>
                    <th class="tableth" scope="col">Bärighet</th>
                    <th class="tableth" scope="col">Rullmotstånd</th>
                    <th class="tableth" scope="col">Bromssträcka</th>
                    <th class="tableth" scope="col">Ljudnivå(dB)</th>
                    @if (TempData["price"].ToString() == "5")
                    {
                        <th class="tableth" scope="col">Pris ex. moms</th>
                    }
                    else
                    {
                        <th class="tableth" scope="col">Pris inkl. moms</th>
                    }
                    
                    <th class="tableth" scope="col">Lagersaldo</th>
                </tr>
            </thead>
            @foreach (var item in Model.TireList)
            {
                if (TempData["price"].ToString() == "2"|| TempData["price"].ToString() == "5")
                {
                    <tr>
                        <th class="tabletd">@Html.DisplayFor(Model => item.brand)</th>
                        <td class="tabletd">@Html.DisplayFor(Model => item.dimension)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.type)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.season)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.tirebearingcapacity)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.rollingresistance)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.breakingdistance)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.sounddecibel)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.outpriceA)</td>
                        @if(item.balance < 11)
                        {
                            <td style="color:red;" class="tabletd">@Html.DisplayFor(Model => item.balance)</td>
                        }
                        else
                        {
                            <td style="color:green;" class="tabletd">@Html.DisplayFor(Model => item.balance)</td>
                        }
                    </tr>

                }
                else if (TempData["price"].ToString() == "3")
                {
                    <tr>
                        <th class="tabletd">@Html.DisplayFor(Model => item.brand)</th>
                        <td class="tabletd">@Html.DisplayFor(Model => item.dimension)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.type)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.season)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.tirebearingcapacity)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.rollingresistance)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.breakingdistance)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.sounddecibel)</td>
                        <td class="tabletd">@Html.DisplayFor(Model => item.outpriceB)</td>
                        @if(item.balance < 11)
                        {
                            <td style="color:red;" class="tabletd">@Html.DisplayFor(Model => item.balance)</td>
                        }
                        else
                        {
                            <td style="color:green;" class="tabletd">@Html.DisplayFor(Model => item.balance)</td>
                        }

                    </tr>

                }

            }

        </table>
    </div>
    <br />
}