<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gummigrossisten i Malmö AB</title>
    <link rel="icon" href="~/Content/Pictures/däckicon.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#606060;">
        <div>
            <div class="navbar-header">
                <a href="/"><img id="logo" src="~/Content/Pictures/logopng.png" /></a>
            </div>
        </div>
    </div>
    <div class="gg-content">
        @RenderBody()
        <hr />
        <footer>
            <br/>
            <h4>Telefonnummer: ☎ 040-611 10 12 ☎ 070-323 47 90 ☎ 070-971 94 75 </h4>
            <br/>
            <h4>Organisationsnummer: 556802-6420</h4>
            <br/>
            <h6>&copy; @DateTime.Now.Year - Gummigrossisten i Malmö AB</h6>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
