<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gummigrossisten i Malmö AB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#606060;">
        <div>
            <div class="navbar-header">
                <a href="/"><img id="logo" src="~/Content/Pictures/logopng.png" /></a>
            </div>
        </div>
    </div>
    <div class="gg-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Telefonummer: 123232323233 | Organisationsnummer: 9191919911919</p>
            <p>&copy; @DateTime.Now.Year - Gummigrossisten i Malmö AB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
